Dockerfile
.dockerignore
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env*.local
.env
.next
out
build
prisma/*.db
prisma/*.db-journal
.vercel
.git
.gitignore
README.md
